<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="DEFAULT_CHARSET" value="UTF-8" force="true" />
        <server name="SERVER_NAME" value="localhost" force="true" />
        <server name="SERVER_PORT" value="80" force="true" />
        <server name="REQUEST_URI" value="index.php" force="true" />

        <!-- PHP configurations -->
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="On"/>
    </php>
</phpunit>
